menuconfig PARAM_SERVER
	bool "parameter server"
	default n
	---help---
		Enable support for the parameter server when enabling one or more parameter clients

menuconfig PARAM_CLIENT
	bool "parameter client"
	default n
	---help---
		Enable support for the parameter client
