<?xml version="1.0"?>
<model>
  <name>x500_voxl</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ModalAI</name>
  </author>
  <description>x500 variant for VOXL2 HITL simulation. Adds magnetometer and navsat sensors, reduces baro rate to 10 Hz.</description>
</model>
